.textoide{
    display: grid; 
    width: 100%;
    height: 30vh;
    align-items: center;
}

.textoide > * {
    height: 100%;
    align-content: center;
    grid-column-start: 1;
    grid-row-start: 1;
  }

.invisible{
    opacity: 0;
}