@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GNU Unifont';
    src: url('./assets/fonts/unifont-16.0.01.otf');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'GNU Unifont', sans-serif;
    
}

body{
    background-color: #FFF9C9;
    background-image: url(./assets/images/texture3.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

@media (max-width: 600px){
    main .socialsandpic{
        flex-direction: column !important;
    }

    main .contenedorSocials{
        width: 100% !important;
        padding: 1em !important;
    }

    main .contenedorPolaroid{
        width: 100% !important; 
    }
}

/* ---------------------------------------------- MAIN ---------------------------------------------- */

main{
    border: solid 0.25rem #121212;
    border-radius: 8px;
    width: 90%;
    max-width: 720px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: #f0f8ff;
    box-shadow: 0.45rem 0.35rem #121212;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 35px;
}

main > *{
    margin-bottom: 10px;
}

main h1{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

