@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GNU Unifont';
    src: url('./assets/fonts/unifont-16.0.01.otf');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'GNU Unifont', sans-serif;
    
}

body{
    background-color: #FFF9C9;
    background-image: url(./assets/images/texture3.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

@media (max-width: 600px){
    main .socialsandpic{
        flex-direction: column !important;
    }

    main .contenedorSocials{
        width: 100% !important;
        padding: 1em !important;
    }

    main .contenedorPolaroid{
        width: 100% !important; 
    }
}

/* ---------------------------------------------- MAIN ---------------------------------------------- */

main{
    border: solid 0.25rem #121212;
    border-radius: 8px;
    width: 90%;
    max-width: 720px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: #f0f8ff;
    box-shadow: 0.45rem 0.35rem #121212;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 35px;
}

main > *{
    margin-bottom: 10px;
}

main h1{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

/* ---------------------------------------------- AboutMe ---------------------------------------------- */

main .aboutMe{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
}

/* ---------------------------------------------- SocialsAndPic ---------------------------------------------- */

main .socialsandpic{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-items: center;
}

main .contenedorSocials{
    width: 50%;
    padding: 0.5em;
}

main .socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    border: 3px solid #121212;
    overflow: hidden;
    background-color: #121212;
    padding-bottom: 2em;
    font-size: 0.9em;
}

.socials .links{
    padding-inline: 0.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.socials .links a, .socials .links p{
    color: #f0f8ff;
}

.socials .links a{
    margin-left: 1em;
}

.links p{
    margin-bottom: 7px;
}
.socials .links a:hover, .socials .links a:focus{
    color: #121212;
    background-color: #f0f8ff;
    text-decoration: underline;
}

main .socialsandpic .barruli{
    width: 100%;
    height: 27px;
    background-color: #7c1c9e;
    background-image:url(./assets/images/texture3.png);
    border-bottom: 3px solid #121212;
    display: flex;
    justify-content: space-between; /* Centrar el <p> en todo el ancho del contenedor */
    align-items: center;
    position: relative; /* Necesario para posicionar los iconos con position: absolute */
    padding-left: 0.4rem;
}

.iconubis{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 2px;
}

.iconubis img{
    height: 27px;
}

.iconubis span img{
    height: 25px;
}

/* ---------------------------------------------- Polaroid ---------------------------------------------- */

main .contenedorPolaroid{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

main .socialsandpic .polaroid{
    width: 100%;
    max-width: 260px;
    background-color: #fff;
    padding: 0.5rem;
    padding-bottom: 2rem;
    box-shadow: 0.35rem 0.35rem #121212;
    border: solid 0.15rem #121212;
    transform: skew(-2.5deg);
    display: flex;
}

main .socialsandpic .polaroid .pic{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 0.15rem #121212;
}

main .socialsandpic .polaroid p{
    margin-top: 10px;
    padding-left: 8px;
}

/* ---------------------------------------------- Text Bubble ---------------------------------------------- */

main .text-bubble{
    display: flex;
    padding: 15px;
    border-radius: 24px;
    border: solid 3px #121212;
    text-align: center;
    position: relative;
    font-weight: 600;
}

main .text-bubble::before{
    content: '';
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #121212;
    top: -29px;
    right: 20px;
}

main .text-bubble::after{
    content: '';
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #ffff;
    top: -25px;
    right: 20px;
}

